page-messagelist {
    *{
        padding: 0;
        margin: 0 auto;
    }
    .messagelist-div1{

    }
    .messagelist-item1{

    }
    .messagelist-icon1{
        font-size: 30px;
        position: relative;
        top: 10px;
    }
    .messagelist-p1{
        position: relative;
        top: -15px;
        left: 37px;
    }
}
