page-about {
    *{
        padding: 0;
        margin: 0 auto;
    }
    .scroll-content{
        padding: 0!important;
    }
    .segment-ios .segment-button {
        width: 60px;
        height: 3.2rem;
        border-style: none;
        color: black;
        background-color: transparent;
    }
    .goods{
        width: 60px;
        text-align: center;
        position: absolute;
        top:15px;
        left:72px;
    }
    .detail{
        width: 60px;
        text-align: center;
        position: absolute;
        top:15px;
        left: 165px;
    }
    .pingjia{
        width: 60px;
        text-align: center;
        position: absolute;
        top:15px;
        left:258px;

    }
    .slides{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0;
        
    }
    .slides img{
        width: 100%;
    }
    .detail-des{
        height: 40px;
        position: relative;
        top: 215px;
    }
    .detail-price{
        width: 55px;
        font-size: 20px;
        float: left;
    }
    .detail-person{
        width: 115px;
        position: relative;
        top: 5px;
        left: -63px;
        color: gray;
    }
    .detail-desribe{
        text-align: left;
        position: relative;
        top: 10px;
        font-size: 17px;
    }
    .detail-promise{
        width: 100%;
        height: 35px;
        line-height: 35px;
        position: relative;
        top: 285px;
        border: #dedede solid 0.1px;
        color: gray;
    }
    .promise-p1{
        width: 50px;
        float: left;
        position: relative;
        left: 20px;
    }
    .promise-p2{
        width:100px ;
    }
    .detail-paid{
        width: 100%;
        height: 35px;
        line-height: 35px;
        position: relative;
        top:284px;
        border: #dedede solid 0.1px;
        color: gray;
    }
    .paid-p1{
        width: 50px;
        float: left;
        position: relative;
        left: 20px;
    }
    .paid-p2{
        width: 100px;
    }
    .detail-return{
        width: 100%;
        height: 35px;
        line-height: 35px;
        position: relative;
        top:283px;
        border: #dedede solid 0.1px;
        color: gray;
    }
    .return-p1{
        width: 50px;
        float: left;
        position: relative;
        left: 20px;
    }
    .return-p2{
        width: 100px;
    }
    .detail-chance{
        width: 100%;
        height:55px;
        line-height:55px;
        position: relative;
        top: 300px;
        font-size: 16px;
        border: #dedede solid 0.1px;
    }
    .chance-p1{
        width: 50px;
        float: left;
        position: relative;
        left: 20px;
    }
    .chance-p2{
        width: 100px;
    }
    .chance-arrow{
        float: right;
        position: relative;
        top: -38px;
        right:30px;
    }
    .img{
        height:1200px;
        position: absolute;
        top: 95%;
        margin-bottom:20%;
    }
    .bottom-button{
        position: fixed;
        bottom:7.6%;
        width: 100%;
        height:10%;
    }
    .bottom-store{
        width: 20%;
        height: 100%;
        font-size: 36px;
        text-align: center;
        position: relative;
        bottom: 0;
        background-color: #fff;
        border: #dedede solid 0.1px;
    }
    .store{
        width: 20%;
        position: absolute;
        bottom: 8px;
        left: 20px;
    }
    .bottom-star{
        width: 20%;
        height: 100%;
        font-size: 36px;
        text-align: center;
        position: relative;
        bottom: 0;
        right: 4px;
        background-color: #fff;
        border: #dedede solid 0.1px;
    }
    .star{
        width: 20%;
        position: absolute;
        bottom: 8px;
        right: 54%;
    }
    .bottom-cart{
        width:30%;
        line-height: 66.59px;
        text-align: center;
        position: absolute;
        bottom: 0;
        right: 30%;
        color: #e51c23;
        background-color: #faae96;
        border: #faae96 solid 0.1px;
    }
    .bottom-buy{
        width:30%;
        height: 100%;
        text-align: center;
        line-height: 66.59px;
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        background-color: #e51c23;
        border: #e51c23 solid 0.1px;
    }
}
