page-home{
    *{
        padding: 0;
        margin: 0 auto;
    }
    .scroll-content{
        padding: 0!important;
    }
    .home-search{
        width: 90%;
        position: relative;
        top: -16px;
        left: 15px;
    }
    .slides{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0;
        
    }
    .slides img{
        width: 100%;
    }
    .home-today{
        position: relative;
        top: 200px;
    }
    .today-p1{
        padding: 10px;
        font-size:18px;
        position: relative;
        top: -20px;
        left: 32px;
    }
    .today-p2{
        font-size: 14px;
        position: relative;
        top: -20px;
        left: 7px;
    }
    .today-img1{
        width: 100%;
    }
    .today-icon1{
        font-size: 30px;
        position: relative;
        top: 14px;
        left: 10px;
    }
    .home-today1{
        position: relative;
        top: 200px;
    }
    .today1-p1{
        padding: 10px;
        font-size: 18px;
    }
}

