page-writingdetail {
    .toolbar-md {
        padding-left: 4px;
        min-height: 40px;
    }
    .money{
        margin-left: 40px;
    }
    .money1{
        margin-left: 70px;
    }
    .money2{
        margin-left: 75px;
    }
    .icon1{
        margin-left: 50px;
    }
    .icon2{
        margin-left: 90px;
    }
    .icon3{
        margin-left: 98px;
    }
}
