page-fujin {
    .div1{
        width: 90%;
        margin: 5%;
        height: 33%;
        background-image: url(../assets/imgs/huwai.jpeg);
    }
    div p{
        font-size: 24px;
        color: #faae96;
        margin: 0;
        font-weight:bold;
    } 
    .div2{
        width: 90%;
        margin: 5%;
        height: 33%;
        background-image: url(../assets/imgs/yingtong.jpeg);
    }
    .div3{
        width: 90%;
        margin: 5%;
        height: 33%;
        background-image: url(../assets/imgs/sheying.jpeg);
    }

}
