<!doctype html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>后台管理-首页</title>
</head>
<body>
<% include common/top.ejs%>
<div style="font-size: 32px;font-family: fantasy;padding: 100px 30px 0px;">
    <p>
        后台管理主要实现的是：<span style="color: red;">文章的删除修改和新建，商品的添加
        以及用户管理（涉及到图片的操作）.</span>
    </p>
    <br>
    <p>
        此页面用express编写，用于管理后台数据
    </p>
<br>
    <p style="color: red">
        点点团队制作
    </p>
    <button style="float:right;"><a href="/admin/login" style="text-decoration:none; color:red;">退出登陆</a></button>
</div>
</body>
</html>