page-car {
    img{
        width: 34%;
    }
    .jiesuan{
        background-color:#fff; 
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        height: 8%;
        position: fixed;
        width: 100%;
        bottom: 68px;
        clear: both;
    }
}
