// http://ionicframework.com/docs/theming/
*{
    padding: 0;
    margin: 0 auto;
}
.scroll-content{
    padding: 0!important;
}
.classify-search{
    width:90%;
    position: absolute;
    top: 10px;
    left: 38px;
}
.classify-div1{
    width: 25%;
    height: 100%;
    float: left;
    border-right: #faae96 solid 0.1px
}
.div1-p1{
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    border-bottom: #faae96 solid 0.1px;
}
.classify-div2{
    width: 75%;
    float: left;
}
.div2-div1{
    width: 100%;
}
.div2-p1{
    
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 18px;
}
.div2-hot{
    width:27%;
    float: left;
    position: relative;
    top: 30px;
    margin-left: 13px;
    margin-bottom: 15px;
}
.div2-img1{
    position: relative;
    // top: 30px;
    // left: 15px;
    // margin: 6px 0 20px 6px;
}
.div2-p2{
    position: relative;
    // top: 10px;
    // left: 25px;
    text-align: center;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
