page-login {
    img{
        margin-left: 36%;
        margin-top: 10%;
    }
    .icon1{
        font-size: 3.2em;
        margin-left: 11%;
        margin-top: 10%;
        position: absolute;
    }
    .icon2{
        font-size: 3.2em;
        margin-left: 44%;
        margin-top: 10%;
        position: absolute;
    }
    .icon3{
        font-size: 3.2em;
        margin-left: 77%;
        margin-top: 10%;
        position: absolute;
    }
}
